<form (ngSubmit)="submitForm()" #organisationForm="ngForm">
    <input type="text" required [(ngModel)]="name" name="name" placeholder="Name of organisation">
    <!-- <input type="text" required [(ngModel)]="primaryContactId" name="primaryContactId" placeholder="Primary Contact Name"> -->
    <input type="text" required [(ngModel)]="address1" name="address1" placeholder="Address 1">
    <input type="text"          [(ngModel)]="address2" name="address2" placeholder="Address 2">
    <input type="text" required [(ngModel)]="city" name="city" placeholder="City">
    <!-- <input type="text" required [(ngModel)]="country" name="country" placeholder="Country"> -->
    <input type="text" required [(ngModel)]="email" name="email" placeholder="Email">
    <input type="text" required [(ngModel)]="phone" name="phone" placeholder="Phone">
    <input type="text" required [(ngModel)]="sector" name="sector" placeholder="Business Sector">

    <button type="submit">Add Organisation</button>
</form>