form {
    * {
        font-size: 0.8em;
    }

    [type=text], [type=password] {
        width: 100%;
        display: block;
        margin-bottom: 0.5em;
        border: solid thin #aaa;
        padding: 5px;
        border-radius: 4px;
        color: #5a5;
    }

    [type=submit] {
        min-width: 4em;
        min-height: 2em;
        margin-top: 1.5em;
        border: none;
        border-radius: 4px;
        background-color: #5AB;
        color: #fff;
        font-weight: bold;
    }
}