<table class="list-of-organisations">
  <thead>
    <tr>
      <th>Organisation Name</th>
      <th>Primary Contact</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Business Sector</th>
      <th>Authorisation Key</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let organisation of fields">
      <td>{{organisation.name}}</td>
      <td>{{organisation.primaryContact}}</td>
      <td>{{organisation.address1}}...</td>
      <td>{{organisation.phone}}</td>
      <td>{{organisation.email}}</td>
      <td>{{organisation.sector}}</td>
      <td>{{organisation.authKey}}</td>
      <td><button class="delete" (click)="db.deleteOrganisation(organisation)">Delete</button></td>
    </tr>
  </tbody>
</table>
