/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

html, body {
    background-color: #efefef;
    position: relative;
    padding: 0;
    margin: 0;
}

nav {
    width: 100%;
    background-color: #555;
    padding: 15px 20px;

    ul {
        margin: 0 auto;
        padding: 0;

        li {
            list-style: none;
            display: inline-block;
            vertical-align: middle;
            font-family: sans-serif;
            padding-right: 2em;
            font-size: 1em;

            img {
                width: 80%;
                max-width: 450px;
                margin-right: 3em;
            }

            a {
                color: #eee;
                text-decoration: none;
                &.active {
                    color: #fff;
                }
            }
        }
    }
}

.tab-wrapper {
    margin: 5% auto;
    background-color: #fff;
    overflow: auto;
    box-shadow: 2px 2px 10px #ddd;
    padding: 30px 40px;
    border-radius: 4px;
    position: relative;

    form-new-organisation,
    form-new-user {
        float: left;
    }

    organisations-list-managed,
    users-list-managed {
        float: right;
    }
}


table.list-of-organisations,
table.list-of-users {

    font-family: sans-serif;
    font-size: 0.8em;
    border-collapse: collapse;
    width: 100%;
    
	tr {

        td, th {
            padding: 6px 10px;
        }

        th {
            text-align: left;
            vertical-align: bottom;
            border-bottom: solid thin #aaa;
        }

        &:nth-child(even){
            td {
                background-color: #efefef;
            }
        }

        &:hover {
            td {
                background-color: #ddd;
            }
        }
    }
}


button {
    &.delete {
        background-color: #d33;
        color: #fff;
        border-radius: 4px;
        border: none;
        padding: 4px 6px;
        font-size: 1.1em;
    }
}


@media (max-width: 399px) {
    nav > ul,
    .tab-wrapper {
        width: 90%;

        form-new-organisation,
        organisations-list-managed,
        form-new-user,
        users-list-managed {
            width: 100%;
        }
    }
}

@media (min-width: 400px) {
    nav > ul,
    .tab-wrapper {
        width: 90%;
        
        form-new-organisation,
        organisations-list-managed,
        form-new-user,
        users-list-managed {
            width: 100%;
        }
    }
}

@media (min-width: 600px) {
    nav > ul,
    .tab-wrapper {
        width: 85%;

        form-new-organisation,
        form-new-user {
            width: 30%;
        }
        organisations-list-managed,
        users-list-managed {
            width: 65%;
        }
    }
}

@media (min-width: 900px) {
    nav > ul,
    .tab-wrapper {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    nav > ul,
    .tab-wrapper {
        width: 65%;
        form-new-organisation,
        form-new-user {
            width: 20%;
        }

        organisations-list-managed,
        users-list-managed {
            width: 75%;
        }
    }
}

@media (min-width: 1500px) {
    nav > ul,
    .tab-wrapper {
        width: 60%;
    }
}