<nav>
  <ul>
    <li><img src="../assets/Artboard 4.png" alt=""></li>
    <li><a routerLink="/manage-organisations" routerLinkActive="active">Manage Organisations</a></li>
    <li><a routerLink="/manage-users" routerLinkActive="active">Manage Users</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
