<form (ngSubmit)="submitForm()" #organisationForm="ngForm">
    <input type="text" required [(ngModel)]="fields.name" name="name" placeholder="Name">
    <input type="text" required [(ngModel)]="fields.email" name="email" placeholder="Email">
    <input type="text" required [(ngModel)]="fields.position" name="position" placeholder="Position">
    <select [(ngModel)]="selectedOrg" name="organisation-select">
        <option *ngFor="let opt of orgOptions" value="{{opt.value}}">{{opt.Name}}</option>
    </select>
    <button type="submit">Add User</button>
</form>