<table class="list-of-users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Organisation</th>
      <th>Position</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of fields">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.organisation}}</td>
      <td>{{user.position}}</td>
      <td>{{user.status}}</td>
      <td><button class="delete" (click)="db.deleteUser(user)">Delete</button></td>
    </tr>
  </tbody>
</table>